body {
   display: flex;
   justify-content: center;
   background-color: antiquewhite;
   flex-direction: column;   
}

.mainContainer {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-top: 200px;
   flex-grow: 1;
   gap: 16px;
}

.buttons {
   display: flex;
   gap: 20px;
   background-color: rgb(234, 211, 180);
   padding: 24px;
   border: antiquewhite solid;
   border-radius: 12px;
}

.paras {
   display: flex;
   gap: 20px;
   background-color: rgb(234, 211, 180);
   color: rgb(97, 82, 18);
   font-family: Arial, Helvetica, sans-serif;
   padding: 24px;
   border: antiquewhite solid;
   border-radius: 12px;
   min-width: 400px;
}

.result {
   flex-basis: 50%;
   align-self: center;
   text-align: center;
   font-size: 24px;
}

.scoreBoard {
   display: flex;
   flex-direction: column;
   flex-basis: 50%;
}
.names {
   display: flex;
   justify-content: center;
   gap: 12px;
}
.scores {
   display: flex;
   justify-content: space-around;
   padding-right: 12px;
   font-size: 20px;
   margin-top: -12px;
}

button {
   font-size: 24px;
   color: rgb(97, 82, 18);
   background-color: rgb(206, 180, 147);
   border: rgb(255, 229, 196) solid;
   border-radius: 6px;
   padding: 12px;
}

button:hover {
   background-color: rgb(235, 219, 198);
}